.idea/
gradle.properties
gradlew
License.md
Readme.md
*.iml
*.gradle
*.sh
extra_tools/
*.bat
image_resources/
app/
screenshots/
gradle/

build/
bin/
src/
.gradle
/bin/
/app/src/main/libs/
/app/src/main/obj/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
